/* Existing styles */
.file-tree {
    margin: 20px;
}

.file-node {
    margin-left: 20px;
    cursor: pointer;
    margin: 5px;
}

.file-node[data-type="file"] {
    cursor: default;
}

.label {
    font-style: italic;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 2px;
    display: inline-block;
}

.hidden {
    display: none;
}

.download-link {
    margin-left: 5px;
    text-decoration: none;
    color: blue;
}

/* New styles for image orientation and expandable directories */
.img-landscape {
    /* Style for landscape images, if necessary */
}

.img-portrait {
    transform: rotate(90deg); /* Rotate portrait images */
    max-width: 600px; /* Adjust width as needed */
    display: block;
    margin-top: 5px;
}

.expandable::before {
    content: '+ ';
    color: #000;
    font-weight: bold;
}

.expandable.expanded::before {
    content: '- ';
}

/* Example style for hover effect on labels, optional */
.label:hover {
    background-color: lightgrey; /* Change as desired */
    cursor: pointer;
}
